/*.csv
/*.log
/elsevier_parse.php
/llm.php
/*.json
/*.docx
/*.zip
/*.xlsx
/*.xls
/downloads/*
/*/*.xls
/*/*.csv
/*.txt
/__pycache__/*
/*.pdf
/Old_folder/*
/*.env
/*.php
elsevier_parse.py
test_downloadlink.py
test_year_affiliation.py
/test*